body{
    background-color: rgb(138, 162, 172)
}
img{
    width: 222px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 33px;

}
button{
    font-size: 33px;
    border-radius: 7px;
    border-color: rgb(1, 2, 21);
    background-color: rgb(84, 101, 171);
    border-width: 11px;
    color: rgb(44, 59, 93);
    width: 222px;
    height: 111px;
}
h1{
    font-size: 66px;
    text-align: right;
    align-items: center;
    justify-content: center;
    color: rgb(44, 59, 93);
}
p{
    font-size: 44px;
    color: rgb(44, 59, 93);
}
@media (max-width: 768px) {
    img, h1{
        margin-left: 111px;
        margin-right: 111px;
    }
    button{
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 7px;
    }
    p{
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
  
}
@media (min-width: 1200px) {

}
